  h1 {
            text-align: center;
        }
        
        body {
            background-image: url("peakpx.jpg");
            background-size: cover;
            text-align: center;
            font-size: 10px;


        }
        
        table {
            margin-center: 150px;
            text-align: center;
            font-size: 10px;
        }
        
        input {
            margin: 20px;
            height: 50px;
            width: 261px;
            font-size: 25px;
            opacity: 1.5;
            font-weight: bold;
        }
        
        .input :hover {
            border-color: green;
        }
        
        button {
            color: green(250, 217, 227);
            background-color: red;
            width: 100px;
            height: 70px;
            font-weight: bold;
            font-size: 20px;
        }
        
        button:hover {
            background-color: yellow;
            color: black;
            border-color: white;
        }
        
    
